
/*
=====
DEPENDENCES
=====
*/

.r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu{
    --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link{
    display: var(--menuLinkDisplay, block);
}

/*
focus state
*/

.menu__link:focus{
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}

/*
fading siblings
*/

.menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu{
    background-color: var(--menuBackgroundColor, rgb(211, 18, 7));
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
    display: flex;
}

.menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

/*
=====
TEXT UNDERLINED
=====
*/

.text-underlined{
    position: relative;
    overflow: hidden;

    will-change: color;
    transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
}

.text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after{
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
    --menuBackgroundColor: rgb(250, 18, 6);
    --menuLinkColor: rgba(236, 6, 6, 0.66);
    --menuLinkColorUnactive: rgba(243, 10, 18, 0.68);
    --menuLinkOutlineOffset: -.5rem;
}

.page__menu{
    display: flex;
    justify-content: center;
    align-items: center;


}
body{
    font-family: 'Unbounded', cursive;
    align-items: center;

}
.body-index{
    background-image: url("img/backgroung-image_1920x1080.jpg") ;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    color: #ffffff;
}

.col-12{
    width: 100%;
    max-width: 1200px;
    margin: 0 15px;
    text-overflow: ellipsis;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
